html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: white;
}

body {
    display: flex;
    justify-content: center;
}

canvas {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    background-color: coral;
    }
